.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.controls: hover {
  background-color: greenyellow;
  color: ivory;
  transform: translateY(-4px);
}

.slider {
  width: 90%;
  max-width: 400px;
  accent-color: gold;
  cursor: pointer;
}

/* For small screens */
@media (max-width: 480px) {
  .slider {
    width: 95%;
  }
}
